#inputsafenumber:focus,
#cddefSelect:focus {
  border: none !important;
  box-shadow: none;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
.current_company_div .col-md {
  padding-left: 0;
  padding-right: 0;
}
.search-button {
  position: absolute;
  margin-left: 93%;
  background-color: transparent;
  box-shadow: none;
  margin-top: -1px;
}
.search-button i {
  font-size: 32px;
}
input[type="checkbox"] {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.param-div {
  margin: auto;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  border-radius: 22px;
}
